spring.application.name=SafeZoneBackend
server.port=8080
spring.cloud.azure.cosmos.endpoint=https://azurecosmo1.documents.azure.com:443/
spring.cloud.azure.cosmos.key=J84JlngbvadXQfbKruYWUCdOdYneeAFPKQrjrbzEu3JmlfqJRxFhJsSbJLBzbqHfunUDuMcgtpr1ACDbezHBVg==
spring.cloud.azure.cosmos.database=SafeZone
spring.cloud.azure.cosmos.populate-query-metrics=false
# ?? Logs ????????????????????????????????????????????????????????
# WARN para Azure (muy verboso por defecto)
logging.level.com.azure.cosmos=WARN
logging.level.com.azure.core=WARN
# INFO para tu código
logging.level.SafeZone=INFO
# CONFIGURACIÓN DE TU JWT (La que añadimos al inicio)
jwt.secret=d7a4f81c9e3b6205fa81bc3d4e7f9021aeb3c45d

